<h1>Welcome to DCalendar</h1>

<h2>All the DC tech events in one place</h2>

<%= link_to 'Add an Event', new_event_path  %>

<ul>
<% @events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ul>

<h2>Events from EventBrite</h2>
<% @three_events.each do |event| %>
  <h4><%= event["name"]["text"] %></h4>
  <ul>
    <li>Start <%= event["start"]["utc"] %></li>
    <li>End <%= event["end"]["utc"] %></li>
    <li>Venue <%= event["venue_id"] %></li>
  </ul>
<% end %>

